<div class="title">
    <h1>{{accion}}</h1>
    <mat-dialog-actions>
        <button [mat-dialog-close]="true">Create your account</button>
    </mat-dialog-actions>
</div>

<app-mostrar-errores [errores]="errores"></app-mostrar-errores>

<form (submit)="onSubmit.emit(form.value)" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput />
        <mat-error>{{ObtenerMensajeErrorEmail()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput />
        <mat-error>The password is required</mat-error>
    </mat-form-field>

    <div class="action-buttons">
        <mat-dialog-actions>
            <a mat-stroked-button mat-dialog-close>Cancel</a>
            <button mat-flat-button type="submit" color="primary" [disabled]="form.invalid" mat-dialog-close>{{accion}}</button>
        </mat-dialog-actions>
    </div>

    <app-social-login></app-social-login>
</form>