<app-cabecera-generica [titulo]="'Checkout'"></app-cabecera-generica> 

<mat-grid-list cols="2" >
    <mat-grid-tile>
        <div class="signin">
            <h5>Have an account?</h5>
            <div class="float-end">
                <a href="#" class="btn btn-outline-primary">Register</a>
                <a href="#" class="btn btn-primary">Sign in</a>
            </div>
        </div>
        <!-- <div class="checkout">
            <form (submit)="" [formGroup]="form">
                <h5>Personal information</h5>
                <mat-form-field appearance="outline">
                    <mat-label>Descripción</mat-label>
                    <input type="text" formControlName="descripcion" matInput />
                    <mat-error>El campo es requerido</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Tipo Categoria</mat-label>
                  <mat-select formControlName="tipoCategoria" [(ngModel)]="selectedType">
                    <mat-option *ngFor="let categoria of tipoCategorias" [value]="categoria.value">
                      {{categoria.descripcion}}
                    </mat-option>
                  </mat-select>
                  <mat-error>El campo es requerido</mat-error>
                </mat-form-field>
                <h5>Shipping information</h5>
                <mat-form-field appearance="fill" *ngIf="selectedType == 1">
                  <mat-label>Área de negocio</mat-label>
                  <mat-select formControlName="area">
                    <mat-option *ngFor="let categoria of areasNegocio" [value]="categoria.id">
                      {{categoria.descripcion}}
                    </mat-option>
                  </mat-select>
                  <mat-error>El campo es requerido</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" *ngIf="selectedType == 2">
                  <mat-label>Categoria principal</mat-label>
                  <mat-select formControlName="categoriaPrincipal">
                    <mat-option *ngFor="let categoria of categoriasPrincipales" [value]="categoria.id">
                      {{categoria.descripcion}}
                    </mat-option>
                  </mat-select>
                  <mat-error>El campo es requerido</mat-error>
                </mat-form-field>
                
                <div class="formButtons">
                    <a mat-stroked-button routerLink="/">Cancelar</a>
                    <button mat-flat-button color="primary" [disabled]="form.invalid">Pagar</button>
                </div>
            </form>
        </div> -->
    </mat-grid-tile>
    <mat-grid-tile>
        <h6 class="card-title">Summary</h6>
        <dl class="dlist-align">
            <dt>Total price:</dt>
            <dd class="text-end"> $195.90</dd>
        </dl>
        <dl class="dlist-align">
            <dt>Discount:</dt>
            <dd class="text-end text-danger"> - $60.00 </dd>
        </dl>
        <dl class="dlist-align">
            <dt>Shipping cost:</dt>
            <dd class="text-end"> + $14.00 </dd>
        </dl>
        <hr>
        <dl class="dlist-align">
            <dt> Total: </dt>
            <dd class="text-end"> <strong class="text-dark">$252.90</strong> </dd>
        </dl>

        <div class="input-group my-4">
            <input type="text" class="form-control" name="" placeholder="Promo code">
            <button class="btn btn-light text-primary">Apply</button>
        </div>

        <hr>
        <h6 class="mb-4">Items in cart</h6>

        <figure class="itemside align-items-center mb-4">
            <div class="aside">
            <b class="badge bg-secondary rounded-pill">1</b>
            <img src="assets/images/items/7.webp" class="img-sm rounded border">
            </div>
            <figcaption class="info">
            <a href="#" class="title">Gaming Headset with Mic <br> Darkblue color</a>
            <div class="price text-muted">Total: $295.99</div> <!-- price .// -->
            </figcaption>
        </figure>

        <figure class="itemside align-items-center mb-4">
            <div class="aside">
            <b class="badge bg-secondary rounded-pill">1</b>
            <img src="assets/images/items/5.webp" class="img-sm rounded border">
            </div>
            <figcaption class="info">
            <a href="#" class="title">Apple Watch Series 4 Space <br> Large size</a>
            <div class="price text-muted">Total: $217.99</div> <!-- price .// -->
            </figcaption>
        </figure>

        <figure class="itemside align-items-center mb-4">
            <div class="aside">
            <b class="badge bg-secondary rounded-pill">3</b>
            <img src="assets/images/items/1.webp" class="img-sm rounded border">
            </div>
            <figcaption class="info">
            <a href="#" class="title">GoPro HERO6 4K Action Camera - Black</a>
            <div class="price text-muted">Total: $910.00</div> <!-- price .// -->
            </figcaption>
        </figure>
    </mat-grid-tile>
</mat-grid-list>
