<app-cabecera-generica [titulo]="'Administrar producto'"></app-cabecera-generica>

<app-mostrar-errores [errores]="errores"></app-mostrar-errores>

<form (submit)="create()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input type="text" formControlName="nombre" matInput />
        <mat-error>El campo es requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <input type="text" formControlName="descripcion" matInput />
        <mat-error>El campo es requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Código Printful</mat-label>
        <input type="text" formControlName="codigo" matInput />
        <mat-error>El campo es requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Inventario</mat-label>
        <input type="number" formControlName="inventario" matInput />
        <mat-error>El campo es requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Precio</mat-label>
        <input type="number" formControlName="precio" matInput />
        <mat-error>El campo es requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoriaId" (selectionChange)="updateSubcategories($event)">
            <mat-option *ngFor="let tipo of categorias" [value]="tipo.id">
            {{tipo.descripcion}}
            </mat-option>
        </mat-select>
        <mat-error>El campo es requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Subcategoria</mat-label>
        <mat-select formControlName="subcategoriaId">
            <mat-option *ngFor="let tipo of subcategorias" [value]="tipo.id">
            {{tipo.descripcion}}
            </mat-option>
        </mat-select>
        <mat-error>El campo es requerido</mat-error>
    </mat-form-field>
    <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Keywords</mat-label>
        <mat-chip-list #chipList aria-label="Keywords">
          <mat-chip
            *ngFor="let keyword of keywords"
            (removed)="remove(keyword)">
            {{keyword}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="New keyword..."
            #keywordInput
            [formControl]="form"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let keyword of filteredKeywords | async" [value]="keyword">
            {{keyword}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Descuento</mat-label>
        <mat-select formControlName="descuentoId">
            <mat-option value="ninguno">Ninguno</mat-option>
            <mat-option *ngFor="let descuento of descuentos" [value]="descuento.id">
            {{descuento.descripcion}}
            </mat-option>
        </mat-select>
        <mat-error>El campo es requerido</mat-error>
    </mat-form-field>
    <app-cargar-imagen [imagenActual]="producto?.imagen" (archivoSeleccionado)="archivoSeleccionado($event)"></app-cargar-imagen>

    <ng-container *ngFor="let image of listadoImagenesBase64">
        <div class="main-container" *ngIf="listadoImagenesBase64.length > 0">
            <img [src]="image.value" alt="Base64 Image">
            <div id="delete-wrapper" (click)="deleteImage(image.key)">
                <mat-icon>delete</mat-icon>
            </div>
        </div>
    </ng-container>
    
    <div class="formButtons">
        <a mat-stroked-button routerLink="/productos">Cancelar</a>
        <button mat-flat-button color="primary" [disabled]="form.invalid">Enviar</button>
    </div>
</form>

