.card-item{
    float: left;
    padding-left: 22px;
    width: 100%;
    min-height: 1px;
}

.card-item a {
    position: relative;
    display: block;
    margin-bottom: 17px;
    overflow: hidden;
}

.image-wrapper{
    background: #ffffff;
    overflow: hidden;
    position: relative;
    transition: transform .3s ease;
}

.image-wrapper:hover{
    transform: 1.1;
}

.card-item span{
    position: absolute;
    left: 10px;
    right: 10px;
    color: #1d432b;
    z-index: 2;
    display: inline-block;
    background-color: #fff;
}
