.card {
    max-width: 350px;
    overflow: hidden;
    border: 1px solid #d3d3d3;
}

.card a{
    cursor: pointer;
}
  
.header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.action-buttons{
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 88%;
    left: 6%;
    transition: bottom ease 0.4s;
}

.action-buttons .add-Cart button{
    display: block;
    width:150px;
    background-color: #3f51b5;
    color: #fff;
}

.action-buttons .add-Cart button:hover{
    display: block;
    width:150px;
    border: 1px solid #3f51b5;
    background-color: #fff;
    color: #3f51b5;
}

.slide{
    height:100px;
}

.quantity-select{
    position: relative;
    width: 6.875rem;
}

.quantity-select input[type=number]{
    border: 1px solid #393939;
    border-radius: 4px;
    height: 0.9rem;
    line-height: .9375rem;
    max-width: 3rem;
    padding: 0.625rem 1.4375rem;
    color: #393939;
    display: block;
    font-family: Tt-Chocolate;
    font-size: .9375rem;
    letter-spacing: 0;
    text-align: center;
}

.quantity-select button{
    position: absolute;
    top: 4%;
    align-items: center;
    color: #393939;
    display: flex;
    height: 7%;
    justify-content: center;
    padding: 0;
    transform: translateY(-50%);
    width: 1.875rem;
    min-width: 1.875rem;
}

.quantity-select .minus{
    left:-7px;
}

.quantity-select .plus{
    right:7px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

mat-card-header{
    margin-bottom: 10px;
}

mat-card{
    max-height: 520px;
}