<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header text-center">Chat</div>
            <div class="card-body" id="message-list">
            <ul class="list-unstyled">
                <div *ngFor="let message of messages">
                    <li class="mb-3">
                        <div [ngClass]="message.usuarioEmail == email || message.usuarioReceptorEmail == email ? 'd-flex justify-content-end align-items-center' : 'd-flex justify-content-start align-items-center'">
                            <div>
                            <p class="m-0">{{message.mensaje}}</p>
                            </div>
                        </div>
                    </li>
                </div>
                
            </ul>
            </div>
            <div class="card-footer">
            <form>
                <div class="input-group">
                <input type="text" [(ngModel)]="messageText" class="form-control" placeholder="Type your message" id="message-input">
                <button type="submit" class="btn btn-primary" (onClick)="sendMessage()">Send</button>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
</div>
