.spacer {
    flex: 1 1 auto;
}
.notification-icon{
    margin-right:0.5em;
}
.shopping-icon{
    margin-right:1em;
}
.mat-toolbar{
    background:#3f51b5;
    position: fixed;
    top:0;
    z-index: 1000;
}
.hoverButton:hover{
    background:#3f51b5;
}
app-autorizacion{
    display:flex;
}
app-autorizacion p{
    font-size: 15px;
    margin-right: 1rem;
}
.showMenu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.hiddenMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.hiddenMenu .mat-icon{
    margin-top:10px;
}
.mat-drawer{
    background:#3f51b5;
    color:#fff;
    width:45%;
}
.menuMobile{
    background:#3f51b5;
    padding:1rem;
    color:#fff;
    display:flex;
}
.menu-item{
    padding:1rem;
    color:#fff;
}
.mobileItem{
    display:flex;
    margin-top: 10px;
}
.mobileItem .mat-icon{
    margin-top:5px;
}
::ng-deep .categories-panel{
    width:600px;
    min-width: none!important;
    max-width: none!important;
    max-height: none!important;
}
::ng-deep .categories-panel a{
    display:flex;
    flex-direction: column;
    margin-bottom: 5px;
    word-wrap: break-word;
    color: #565656;
    text-decoration: none;
}
.categoryList{
    display: block;
    font-weight: 500;
    font-size: 15px;
}
.subcategoryList{
    font-weight: 400;
    font-size: 14px;
}
.subcategoryList a:hover{
    color:#3f51b5;
}
.categoryContent h1{
    font-weight: 500;
    font-size: 16px;
    color: #ccc;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .categoryContent{
        padding:10px;
    }
    .categoryContent a{
        display:flex;
        flex-direction: column;
        margin-bottom: 8px;
        word-wrap: break-word;
        font-size: 14px;
        color: #565656;
        text-decoration: none;
    }
}
::ng-deep .shoppingCart{
    width:400px;
    min-width: none!important;
    max-width: none!important;
    max-height: none!important;
    overflow:hidden;
}
::ng-deep .mat-menu-panel{
    overflow:hidden!important;
}
::ng-deep .mat-menu-content{
    max-height:400px!important;
}