<div class="hiddenMobile">
    <mat-toolbar color="primary">
        <span style="margin-right:1rem;">Talos</span>
        <app-autorizacion [rol]="'admin'">
            <ng-container autorizado>
                <button mat-button [matMenuTriggerFor]="menu">Administrator</button>
                <mat-menu #menu="matMenu">
                    <button routerLink="/panel" mat-menu-item>Control Panel</button>
                    <button routerLink="/categorias" mat-menu-item>Areas</button>
                    <button routerLink="/descuentos" mat-menu-item>Discounts</button>
                    <button routerLink="/productos" mat-menu-item>Products</button>
                    <button routerLink="/usuarios" mat-menu-item>Users</button>
                </mat-menu>
            </ng-container>
        </app-autorizacion>
        <app-autorizacion [rol]="'vendor'">
            <ng-container autorizado>
                <button mat-button [matMenuTriggerFor]="vendor">Administrator</button>
                <mat-menu #vendor="matMenu">
                    <button routerLink="/panel" mat-menu-item>Control Panel</button>
                </mat-menu>
            </ng-container>
        </app-autorizacion>

        <button mat-button [matMenuTriggerFor]="areas">Categories</button>
        <mat-menu #areas="matMenu" class="categories-panel">
            <mat-grid-list cols="4" rowHeight="1:1" *ngIf="!!productMenu">
                <ng-container *ngFor="let area of productMenu.areas">
                    <mat-grid-tile>
                        <div class="categoryContent">
                            <h1 routerLink="/areas/{{area.id}}">{{area.descripcion}}</h1>
                            <ng-container *ngFor="let category of area.categorias">
                                <div class="categoryList">
                                    <a routerLink="/categories/{{category.id}}">{{category.descripcion}}</a>
                                    <ng-container *ngFor="let subcategory of category.subcategorias">
                                        <div class="subcategoryList">
                                            <a routerLink="/subcategories/{{subcategory.id}}">{{subcategory.descripcion}}</a>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                    </mat-grid-tile>
                </ng-container>
            </mat-grid-list>
        </mat-menu>
        
        <span class="spacer"></span>

        <button mat-icon-button class="notification-icon" aria-label="Notificaciones">
            <mat-icon [matMenuTriggerFor]="notifications">
                <span class="material-symbols-outlined">notifications</span>
            </mat-icon>
        </button>
        <mat-menu #notifications="matMenu">
            <app-notificaciones></app-notificaciones>
        </mat-menu>
        <button mat-icon-button class="shopping-icon" aria-label="Carrito de compras">
            <mat-icon [matMenuTriggerFor]="cart">
                <span class="material-symbols-outlined">shopping_cart_checkout</span>
            </mat-icon>
        </button>
        <mat-menu #cart="matMenu" class="shoppingCart">
            <app-cart></app-cart>
        </mat-menu>
        <app-autorizacion>
            <ng-container autorizado>
                <button mat-button class="hoverButton" routerLink="/perfil/{{userId}}">Hi {{securityService.obtenerCampoJwt('nombre')}}</button>
                <button mat-button class="hoverButton" (click)="logOut()">Log Out</button>
            </ng-container>
            <ng-container noAutorizado>
                <button mat-button routerLink="/login">Log In</button>
                <button mat-button routerLink="/registro">Register</button>
            </ng-container>
        </app-autorizacion>
    </mat-toolbar>
</div>

<div class="hiddenDesktop">
    <mat-sidenav-container
        [ngClass]="{'hiddenMenu': !openMenu,'showMenu': openMenu}" (backdropClick)="close()">
        <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
            <div class="menu-item">
                <app-autorizacion>
                    <ng-container noAutorizado>
                        <div class="mobileItem" (click)="redirect('/login')">
                            <mat-icon aria-hidden="false" aria-label="login" fontIcon="login"></mat-icon>
                            <button mat-button>Log In</button>
                        </div>
                        <div class="mobileItem" (click)="redirect('/registro')">
                            <mat-icon aria-hidden="false" aria-label="login" fontIcon="app_registration"></mat-icon>
                            <button mat-button>Register</button>
                        </div>
                    </ng-container>
                    <ng-container autorizado>
                        <div style="display:block">
                            <div class="mobileItem" (click)="redirect('/perfil')">
                                <mat-icon aria-hidden="false" aria-label="profile" fontIcon="person"></mat-icon>
                                <button mat-button>Profile</button>
                            </div>
                            <div class="mobileItem">
                                <mat-icon aria-hidden="false" aria-label="profile" fontIcon="category"></mat-icon>
                                <button mat-button [matMenuTriggerFor]="areasm">Categories</button>
                                <mat-menu #areasm="matMenu">
                                    <ng-container *ngFor="let area of productMenu.areas">
                                        <div class="categoryContent">
                                            <h1 routerLink="/areas/{{area.id}}">{{area.descripcion}}</h1>
                                            <ng-container *ngFor="let category of area.categorias">
                                                <div class="categoryList">
                                                    <a routerLink="/categories/{{category.id}}">{{category.descripcion}}</a>
                                                    <ng-container *ngFor="let subcategory of category.subcategorias">
                                                        <div class="subcategoryList">
                                                            <a routerLink="/subcategories/{{subcategory.id}}">{{subcategory.descripcion}}</a>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </mat-menu>
                            </div>
                            <div class="mobileItem" (click)="redirect('/checkout')">
                                <mat-icon aria-hidden="false" aria-label="checkout" fontIcon="shopping_cart_checkout"></mat-icon>
                                <button mat-button>My cart</button>
                            </div>
                            <div class="mobileItem" (click)="logOut()" style="position:absolute;bottom:3%">
                                <mat-icon aria-hidden="false" aria-label="logout" fontIcon="logout"></mat-icon>
                                <button mat-button>Log out</button>
                            </div>
                        </div>
                    </ng-container>
                </app-autorizacion>
                <app-autorizacion [rol]="'admin'">
                    <ng-container autorizado>
                        <div style="display:block">
                            <div class="mobileItem" (click)="redirect('/panel')">
                                <mat-icon aria-hidden="false" aria-label="profile" fontIcon="admin_panel_settings"></mat-icon>
                                <button mat-button>Control Panel</button>
                            </div>
                            <div class="mobileItem" (click)="redirect('/categorias')">
                                <mat-icon aria-hidden="false" aria-label="categorias" fontIcon="inventory_2"></mat-icon>
                                <button mat-button>Areas</button>
                            </div>
                            <div class="mobileItem" (click)="redirect('/descuentos')">
                                <mat-icon aria-hidden="false" aria-label="categorias" fontIcon="inventory_2"></mat-icon>
                                <button mat-button>Discounts</button>
                            </div>
                            <div class="mobileItem" (click)="redirect('/productos')">
                                <mat-icon aria-hidden="false" aria-label="productos" fontIcon="inventory_2"></mat-icon>
                                <button mat-button>Products</button>
                            </div>
                            <div class="mobileItem" (click)="logOut()">
                                <mat-icon aria-hidden="false" aria-label="usuarios" fontIcon="group"></mat-icon>
                                <button mat-button>Users</button>
                            </div>
                        </div>
                    </ng-container>
                </app-autorizacion>
                <app-autorizacion [rol]="'vendor'">
                    <ng-container autorizado>
                        <div style="display:block">
                            <div class="mobileItem" (click)="redirect('/panel')">
                                <mat-icon aria-hidden="false" aria-label="profile" fontIcon="person"></mat-icon>
                                <button mat-button>Control Panel</button>
                            </div>
                        </div>
                    </ng-container>
                </app-autorizacion>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="menuMobile">
                <mat-icon aria-hidden="false" aria-label="Menu" fontIcon="menu" (click)="sidenav.open()" (click)="toggleMenu()"></mat-icon>
                <span class="spacer"></span>
                <button mat-icon-button class="shopping-icon" aria-label="Carrito de compras">
                    <mat-icon [matMenuTriggerFor]="cartMobile" style="margin-top:5px">
                        <span class="material-symbols-outlined">shopping_cart_checkout</span>
                    </mat-icon>
                </button>
                <mat-menu #cartMobile="matMenu">
                    <app-cart></app-cart>
                </mat-menu>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>