
<app-carousel [carouselDTO]="carouselDTO"></app-carousel>

<section id="storeDescription">
    <div class="storeSummary">
        <h1>wellness rituals shouldn't be complicated.</h1>
        <p>We're tease. We create all natural, tea + botanical based essentials that compliment each other and your goals without compromising convenience, sustainability, or impact.</p>
    </div>
</section>

<section id="categories" *ngIf="collectionList.length > 0">
    <h1>DISCOVER OUR COLLECTIONS</h1>
    <app-card-slider [areas]="collectionList"></app-card-slider>
</section>

<section id="bestSellers" *ngIf="bestSellers.length > 0">
    <h1>THE ESSENTIALS</h1>
    <app-card-slider [arr]="bestSellers"></app-card-slider>
</section>

<section id="lowCost" *ngIf="economyList.length > 0">
    <h1>THE BEST VALUE FOR YOU</h1>
    <app-card-slider [arr]="economyList"></app-card-slider>
</section>

<section id="footer">
    <app-footer></app-footer>
</section>