#storeDescription{
    margin-top:90vh;
    text-align: center;
    padding-left:20vw;
    padding-right:20vw;
    margin-bottom:100px;
}
#storeDescription h1{
    font-size:32px;
    color: #1d432b;
}
#storeDescription p{
    font-size:24px;
    color: #1d432b;
}
#categories{
    margin-top:100px;
    margin-bottom:100px;
}
#categories h1{
    text-align: center;
    font-size:32px;
    color: #1d432b;
}
#bestSellers{
    margin-bottom:100px;
}
#bestSellers h1{
    text-align: center;
    font-size:32px;
    color: #1d432b;
}
#subcategories{
    display:flex;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    margin-bottom:100px;
}
#subcategories h1{
    text-align: center;
    font-size:32px;
    color: #1d432b;
}
#lowCost{
    margin-bottom:100px;
}
#lowCost h1{
    text-align: center;
    font-size:32px;
    color: #1d432b;
}
#about{
    margin-bottom:100px;
}
#about h1{
    text-align: center;
    font-size:32px;
    color: #1d432b;
}
.aboutText{
    font-size:17px;
    line-height:2rem;
    padding-left:15%;
    padding-right:15%;
}
.aboutImage img{
    position:absolute;
    top:5%;
    right:25%;
    width: 60%;
}