/* You can add global styles to this file, and also import other style files */

/*html, body { height: 100%; }*/
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media only screen and (max-width: 768px) {
    .hiddenMobile {
      visibility: hidden;
      display:none;
    }
    .contenedor{
      margin-top:50px;
    }
}

@media only screen and (min-width: 768px) {
    .hiddenDesktop {
      visibility: hidden;
      display:none;
    }
}

.tabla-indice{
  width: 100%;
  margin-top: 1rem;
}

.tabla-indice a {
  margin-right: 1rem;
}

.tabla-indice button {
  margin-right: 1rem;
}