.contenedor{
    padding:2rem;
    padding-top: 100px;
}
@media only screen and (max-width: 768px) {
    .contenedor{
      margin-top:50px;
      padding-top: 3rem;
    }
}
.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}